

<div class="container">
  <%= form_with(url: search_users_path, local: true, method: :get, class: "user-search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "ユーザーを検索する", class: "user-search-input" %>
    <%= form.submit "検索", class: "user-search-btn" %>
  <% end %>
</div>
