<div class="top-link">
  <div class="links">
  <%= link_to "Recipies", root_path,class: "link" %>
  <%= link_to "Likes", "/users/#{current_user.id}/favorite_menus",class: "link"%>
  <%= link_to "Follwing", "/menus/following_menus",class: "link"%>
  </div>
</div>